<!DOCTYPE html>
<html lang="en">
  <head>
    <title>react-json-view</title>
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
    <script>
    (function(){
      var ef = function(){};
      window.console = window.console || {log:ef,warn:ef,error:ef,dir:ef};
    }());
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
    <![endif]-->
    <style>
      .code-comment {
        color: #aaa;
        font-size:14px;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
  <div id="app-container">
    <div class="code-comment">// example 1: JSON object</div>
    <div id="example1"></div>
    <br />
    <div class="code-comment">// example 2: array input</div>
    <div id="example2"></div>
    <br />
    <div class="code-comment">// example 3: collapsed by default</div>
    <div id="example3"></div>
  </div>
  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
  <script type="text/javascript" src="./main.js"></script>
  <style>
    #app-container>div{
      margin-bottom: 15px;
    }
  </style>
  <script type="text/javascript">
      /*-----------EXAMPLE 1-----------*/
      //some test JSON
      var test_json = {
          test: 'this is a test string',
          another_sibling: 42,
          how_will_array_do: [1, 2, 3, 'test'],
          how_will_floats_do: -2.757,
          parent: {
              sibling1: true,
              sibling2: false,
              sibling3: null,
              'last-sibling': {
                  grand_child: NaN,
                  'grand-child-func': (a) => {
                      let b = a*a;
                      return b;
                  }
              }
          },
          string_number: "1234"
      };

      // reactJsonView is a global variable
      var jsonView1 = new reactJsonView.default({
        src: test_json
      });
      ReactDOM.render(
        jsonView1.render(),
        document.getElementById('example1')
      );

      /*-----------EXAMPLE 2-----------*/
      //an example ARRAY
      var test_array = [
        'you can also display arrays!', 1, 2, 3, {'pretty_cool': true}
      ];
      var jsonView2 = new reactJsonView.default({
        src: test_array,
        name: 'array-example'
      });
      ReactDOM.render(
        jsonView2.render(),
        document.getElementById('example2')
      );


      /*-----------EXAMPLE 3-----------*/
      var jsonView3 = new reactJsonView.default({
        name: 'collapsed_by_default_example',
        src: {
          example_information: 'this example has the collapsed prop set to true and the indentWidth prop is set to 8',
          default_collapsed: true,
          collapsed_array: [
            'you expanded me',
            'try collapsing and expanding the root node',
            'i will still be expanded',
            {
              leaf_node: true
            }
          ]
        },
        collapsed: true,
        indentWidth: 8
      });
      ReactDOM.render(
        jsonView3.render(),
        document.getElementById('example3')
      );
  </script>
  </body>
</html>