{
  "presets": ["react-app"],
  "plugins": [
    "@babel/plugin-syntax-class-properties",
    "@babel/plugin-syntax-jsx",
    "react-html-attrs"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}