*.swp
npm-debug.log

/.git
/.nyc_output
/coverage
/debug
/demo
/dev-server
/doc
/docker
/entrypoints
/node_modules
/src
/test
/webpack

Dockerfile
.babelrc
.coveralls.yml
.gitignore
.nycrc
.travis.yml

