@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_variables';

#mac-react-container {
    font-family: "Open Sans";
    padding: 20px;

    .header-1 {
        font-size: 28px;
        margin-right: 5px;
        margin-bottom: 3px;
    }
    .header-2 {
        font-size: 22px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-style: italic;
    }
}