$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$white:     #fff;
$black:     #000;

$app-background-color: rgba(1, 1, 1, 0);

$indent-block-width: 5px;

$collapsed-elipsis-font-size: 18px;

$key-margin: 5px;
$key-color: $base03;
$array-key-color: $violet;
$array-key-colon-color: $base03;
$key-letter-spacing: 0.5px;
$key-colon-color: $base03;
$key-padding: 0px 3px;
$key-font-style: italic;
$key-border-radius: 3px;
$key-colon-weight: bold;

$brace-color: $black;

//data type styling

//string
$string-color: $blue;

//number
$integer-color: $green;

//float
$float-color: $orange;

//array
$array-color: $base02;

//boolean
$boolean-color: $cyan;

//null
$null-color: $red;
$null-font-size: 11px;
$null-font-weight: bold;
$null-background-color: rgba(0, 0, 0, 0.1);
$null-padding: 1px 2px;
$null-border-radius: 3px;

//NaN
$nan-color: $magenta;
$nan-font-size: 11px;
$nan-font-weight: bold;
$nan-background-color: rgba(0, 0, 0, 0.1);
$nan-padding: 1px 2px;
$nan-border-radius: 3px;

//function
$function-color: $base01;


$data-type-font-size: 11px;
$data-type-margin-right: 4px;
$data-type-opacity: 0.8;
