@import '_variables';

.react-json-view{
    font-family: monospace;
    cursor: default;

    .brace-row {
        display: inline-block;

        >div {
            display: inline-block;

        }

        .icon-container {
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;

            &.expanded {
                svg {
                    color: $magenta;
                }
            }
            &.collapsed {
                svg {
                    color: $cyan;
                }
            }

        }

        .brace {
            font-weight: bold;
            color: $brace-color;
        }

        &.open-brace {
            cursor: pointer;

            .object-name {
                color: $key-color;
                letter-spacing: $key-letter-spacing;
                padding: $key-padding;
                font-style: $key-font-style;
                border-radius: $key-border-radius;
                vertical-align: top;
            }

            .object-colon {
                margin-right: $key-margin;
            }

        }

        &.close-brace {

        }

    }

    .pushed-content {

        >div {
            display: inline-block;

            &.push {
                width: $indent-width;
            }

            &.object-content {

                .object-key-val {
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 3px 5px;

                    &:hover {
                        padding-left: 4px;
                        border-left: 2px solid rgba(0, 0, 0, 0.2);
                    }

                    .object-key {
                        display: inline-block;
                        margin-right: $key-margin;
                        color: $key-color;
                        letter-spacing: $key-letter-spacing;
                        padding: $key-padding;
                        font-style: $key-font-style;
                        border-radius: $key-border-radius;
                        vertical-align: top;

                        .key-colon {
                            display: inline-block;
                            font-weight: $key-colon-weight;
                            color: $key-colon-color;
                        }
                    }

                    .object-value {
                        display: inline-block;

                        &.string {
                            color: $string-color;
                        }

                        &.number {
                            color: $number-color;
                        }

                        &.array {
                            color: $array-color;
                        }

                        &.boolean {
                            color: $boolean-color;
                        }

                        &.null {
                            color: $null-color;
                            font-size: $null-font-size;
                        }

                        &.nan {
                            color: $nan-color;
                            font-size: $nan-font-size;
                        }

                        &.function {
                            color: $function-color;
                            white-space: pre-line;
                        }

                        span.data-type {
                            font-size: $data-type-font-size;
                            margin-right: $data-type-margin-right;
                            opacity: $data-type-opacity;
                        }
                    }

                }

            }

        }

    }

    .collapsed-elipsis {

        display: inline-block;
        letter-spacing: 0px;
        color: $orange;
        font-size: $collapsed-elipsis-font-size;
        line-height: 10px;

    }

}