@import '_variables';

.react-json-view{
    // font-family: monospace;
    // cursor: default;
    // background-color: $app-background-color;

    .object-name {
        &:hover {
            opacity: 1;
        }
    }

    .brace-row {

        .icon-container {
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

        &.open-brace {

            .object-name {

                &:hover {
                    opacity: 1;
                }
            }

        }

        &.close-brace {

        }

    }

    .pushed-content {

        >div {
            display: inline-block;

            &.push {
                .indent {
                    width: $indent-block-width;
                    display: inline-block;
                }
            }

            &.object-content {

                .object-key-val {
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 3px 5px;
                    position: relative;

                    &:hover {

                        >.object-key {
                            opacity: 1;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            left: -1px;
                            top: 0px;
                            bottom: 0px;
                            width: 2px;
                            background-color: #ccc;
                            border-radius: 0px 2px 2px 0px;

                        }
                    }


                }

            }

        }

    }

    .rjv-tooltip {
        padding: 2px 8px;

        &.hidden {
            display: none;
        }
    }

    .object-container {

        .object-meta-data {

            >* {
                margin-right: 5px;
                display: inline-block;
                padding: 0px 3px 0px 0px;
            }

        }

        .object-key-val:hover {

            // >div >.object-meta-data {
            //     opacity: 1;
            // }

        }

    }

}