.react-json-view {
    min-height: 96px;
    word-break: break-all;
    -ms-word-break: break-all;

    .paste-to-json-container {
        cursor: pointer;
    }
    .copy-to-clipboard-container {
        vertical-align: top;
        display: none;
    }
    .click-to-add {
        vertical-align: top;
    }
    .click-to-remove {
        vertical-align: top;
    }
    .click-to-edit {
        vertical-align: top;
    }

    .drag-wrapper {
        width: fit-content;
    }
    .object-content .variable-row,
    .object-key-val {
        .click-to-remove {
            display: inline-block;
        }
        .click-to-edit {
            display: inline-block;
        }
        .click-to-edit-key {
            display: inline-block;
            margin-left: -18px;
        }
    }
    .md-editor-container {
        border: 1px solid rgb(118, 118, 118);
        border-radius: 2px;
        display: inline-block;
        margin-right: 4px;

        .styles {
            border-bottom: 1px solid rgb(118, 118, 118);
            display: flex;
        }
        .style-button {
            align-items: center;
            display: inline-flex;
            font-size: 20px;
            justify-content: center;
            padding: 8px;
            width: 24px;

            &.active {
                background: #eee;
            }

            &:hover {
                background: #eee;
            }
        }
        .md-headers {
            position: relative;

            button {
                border: none;
                height: 100%;
            }
            .header-buttons-container {
                background: #fff;
                border: 1px solid rgb(118, 118, 118);
                border-radius: 2px;
                display: flex;
                position: absolute;
                left: -100%;
                top: calc(100% + 4px);
                z-index: 10;
            }
        }
        .md-editor {
            background-color: rgb(245, 245, 245);
            cursor: text;
            max-height: 400px;
            max-width: 450px;
            min-height: 30px;
            min-width: 230px;
            overflow: auto;
            padding: 8px 20px;
        }
    }
    .editor-toggle {
        background: transparent;
        cursor: pointer;
        display: inline-block;
        border: none;
        padding: 0;
    }
}

.react-json-editor {
    height: 100%;
}

.react-json-view-search-box {
    .search-box {
        border: 2px solid #cccccc;
        border-radius: 32px;
        padding: 8px;
        outline: none;
        margin-bottom: 4px;

        &:hover, &:focus {
            border: 2px solid #999999;
        }
    }
}

.color-picker-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin: 3px 0 0 2px;
    cursor: pointer;
}

.config-editor.drag-container {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 4px;
    border-radius: 3px;
    z-index: 10000;
    color: #333333;
}
