.react-json-view {
      .copy-to-clipboard-container {
          vertical-align: top;
          display: inline-block;
          opacity: 0.25;
      }
      .copy-to-clipboard-container:hover {
          opacity: 1.0;
      }
      .click-to-add {
          display: inline-block;
          opacity: 0.25;
      }
      .click-to-add:hover {
        opacity: 1.0;
      }
      .click-to-remove {
          display: inline-block;
          opacity: 0.25;
      }
      .click-to-remove:hover {
        opacity: 1.0;
      }
      .click-to-edit {
          display: inline-block;
          opacity: 0.25;
      }
      .click-to-edit:hover {
        opacity: 1.0;
      }
}
