.react-json-view {
    .paste-to-json-container {
        cursor: pointer;
    }
    .click-to-add {
        vertical-align: top;
    }
    .click-to-remove {
        vertical-align: top;
    }
    .click-to-edit {
        vertical-align: top;
    }

    .drag-wrapper {
        width: fit-content;
    }
    .object-content .variable-row,
    .object-key-val {
        .click-to-remove {
            display: inline-block;
        }
        .click-to-edit {
            display: inline-block;
        }
        .click-to-edit-key {
            display: inline-block;
            margin-left: -18px;
        }
    }
}

.react-json-editor {
    height: 100%;
}

.react-json-view-search-box {
    .search-box {
        border: 2px solid #cccccc;
        border-radius: 32px;
        padding: 8px;
        outline: none;
        margin-bottom: 4px;

        &:hover, &:focus {
            border: 2px solid #999999;
        }
    }
}

.color-picker-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin: 3px 0 0 2px;
    cursor: pointer;
}

.config-editor.drag-container {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 4px;
    border-radius: 3px;
    z-index: 10000;
    color: #333333;
}